.ModelHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  line-height: 1.3;
}

.H4 {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 20px;
}

.Button {
  color: #800000;
  font-size: 1.5rem;
  cursor: pointer;
}

.ModelBody {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  position: relative;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  line-height: 1.5;
  margin: 10px 0;
  padding: 10px;
}

.ModelFooter {
  text-align: center;
  padding: 12px;
}

h3 {
  text-align: left;
}

.CloseButton {
  background-color: #800000;
  border-color: #800000;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.CloseButton:hover {
  color: #fff;
  background-color: #620000;
  border-color: #620000;
}

.close {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #800000;
  text-shadow: 0 1px 0 #fff;
}
