.WrapperButton {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonOpen {
  background-color: #800000;
  border-color: #800000;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 5px;
  position: relative;
}

.ButtonOpen:hover {
  color: #fff;
  background-color: #620000;
  border-color: #620000;
}
