.CenteredModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.Modal {
  background-color: white;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 26px;
  max-width: 360px;
  min-height: 200px;
  transition: all 0.5s ease-in-out;
}
